{% extends 'newsApp/base.html'%}
{% load static %}  

{% block content %}
<link rel="stylesheet" href="{% static 'newsApp/index.css' %}">
    <div class="main">
        <div class="article">
            <div class="article_heading">Featured Articles <hr> </div>
            {% for article in articles %}
            <div class="article_body">
                <a href="{% url 'specid' article %}">
                    <p>{{article.body}}</p>
                </a>
            </div>
            {%endfor%}
        </div>
        <div class="breaking_news">
            <div class="news">

                {% for new in news %}
                <a href="{% url 'specid' news %}">
                    <p> {{new}}</p>
                </a>

                {%endfor%}
            </div>
        </div>


    </div>
{% endblock %}

