{% extends 'newsApp/base.html'%}
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'newsApp/spec_news.css' %}">
<div class="main">
    <div class="news">
 
            <p> {{news_item.body}}</p>

    </div>

    <div class="related">
        
            {% for news in related_news %}

            <a href="{% url 'specid' news.id %}">
                <p> {{news.body|truncatewords:20}}</p>
            </a>

            {%endfor%}
       
    </div>
</div>

{% endblock %}