.h1 {
    padding: 15px;
    margin-left: 15px;
    font-weight: bolder;
    color: deepskyblue;
    margin-top: 10px;
}

.news {
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.news>a>p {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.news>a>p:hover {
    box-shadow: 1px 2px 5px 0px rgb(68, 66, 66);
    cursor: pointer;
}